.Rproj.user
.Rhistory
.Rapp.history
.RData
.Ruserdata
.DS_Store
.Rproj.user/
.Rproj.user/9F29A888/pcs/files-pane.pper
.Rproj.user/9F29A888/pcs/windowlayoutstate.pper
.Rproj.user/shared/notebooks/paths
